/* Estilo predeterminado para botones con color sólido */
.button {
    -fx-background-color: #9b59b6; /* Color sólido (en este caso, morado) */
    -fx-background-radius: 20;
    -fx-text-fill: white;
    -fx-font-family: "Arial";
    -fx-font-size: 12px;
}

/* Estilo predeterminado para TextField */
.text-field {
    -fx-background-color: #ecf0f1;
    -fx-border-color: #000000 ;
    -fx-border-width: 3;
    -fx-text-fill: #333333;
    -fx-font-family: "Arial";
    -fx-font-size: 16px;
}
.text-field.tfBuscarProducto{
 -fx-background-color: #D6D6FC; /* Color de fondo */
    -fx-border-color: #FFFFFF; /* Color del borde */
    -fx-border-width: 1; /* Ancho del borde */
    -fx-text-fill: #000000; /* Color del texto */
    -fx-font-family: "Arial"; /* Fuente */
    -fx-font-size: 14px; /* Tamaño de fuente */
}

/* Estilo para el botón Productos */
/* Estilo para el botón Productos */
/* Estilo para el botón Productos con borde transparente */
.button.productos {
    -fx-background-color:  #7d6cc8;
    -fx-background-radius: 0;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "system-ui";
    -fx-font-size: 12px;
    -fx-text-alignment: right;
    -fx-border-color: rgba(0, 0, 0); /* Borde negro con transparencia (0.5) */
    -fx-border-width: 0.1px;
}

/* Estilo para el botón Empleados con borde transparente */
.button.empleados {
    -fx-background-color: #7d6cc8;
    -fx-background-radius: 0;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "system-ui";
    -fx-font-size: 12px;
    -fx-text-alignment: right;
    -fx-border-color: rgba(0, 0, 0); /* Borde negro con transparencia (0.5) */
    -fx-border-width: 0.1px;
}

/* Estilo para el botón Proveedores con borde transparente */
.button.proveedores {
    -fx-background-color: #7d6cc8;
    -fx-background-radius: 0;
    -fx-text-fill-color: #FFFFFF;
    -fx-font-family: "system-ui";
    -fx-font-size: 12px;
    -fx-text-alignment: right;
    -fx-border-color: rgba(0, 0, 0); /* Borde negro con transparencia (0.5) */
    -fx-border-width: 0.1px;
}
.button.cargos {
    -fx-background-color: #7d6cc8;
    -fx-background-radius: 0;
    -fx-text-fill-color: #FFFFFF;
    -fx-font-family: "system-ui";
    -fx-font-size: 12px;
    -fx-text-alignment: right;
    -fx-border-color: rgba(0, 0, 0); /* Borde negro con transparencia (0.5) */
    -fx-border-width: 0.1px;
}
.button.empleados{
    -fx-background-color: #7d6cc8;
    -fx-border-color: rgba(0, 0, 0);
    -fx-border-width: 0.1px;

}
.button.lotes{
    -fx-background-color: #7d6cc8;
    -fx-border-color: rgba(0, 0, 0);
    -fx-border-width: 0.1px;
    -fx-text-fill-color: #FFFFFF;
    -fx-font-family: "system-ui";
    -fx-font-size: 11px;
    -fx-text-alignment: left;
}
.button.anadir{
    -fx-background-color: #9b59b6; /* Color sólido (en este caso, morado) */
    -fx-background-radius: 20;
    -fx-text-fill: white;
    -fx-font-family: "system-ui";
    -fx-font-size: 12px;
}

/* Estilo para el TableView */
#tableView {
    -fx-background-color: #88779D; /* Color de fondo del contenido de la tabla */
}

/* Estilo para los encabezados de columna */
.table-view .column-header,
.table-view.column-header-background.filler{
    -fx-background-color:#FFFFFF; /* Color de fondo de los encabezados */
   /* -fx-text-fill-color: #000000;
    -fx-font-family: "system-ui";
   /* -fx-font-size: 11px;
   /* -fx-border-color: #000000; /* Color del borde */
   /* -fx-border-width: 1px; /* Grosor del borde */
}
.table-view.column-header.label{
    -fx-text-fill: #52438F;
    -fx-alignment: CENTER LEFT;
}

/* Estilo para las filas de la tabla con separador */
.table-view.cell {
    -fx-alignment: center left;
    -fx-text-fill: #000000;
}

/* Estilo para el texto en las celdas de la columna */
.table-row-cell:selected.text{
    -fx-fill: #52438F;
}
/* Estilos para los nodos de texto */
.texto-verde {
    -fx-fill: #00FF1C ;
    -fx-font-weight: bold;
}

.texto-rojo {
    -fx-fill: #FF0017;
    -fx-font-weight: normal;
}
.text-field{
    -fx-background-color: #EDE6FF;
    -fx-border-color: #2F00FF;
    -fx-border-width: 0.3px;
    -fx-border-radius: 10;

}
.combo-box{
    -fx-background-color: #EDE6FF;
    -fx-border-color: #2F00FF;
    -fx-border-width: 0.3px;
    -fx-border-radius: 10;
}








